{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <title>suri-wood</title>
    <link rel="stylesheet" href="{% static 'base/' %}/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'base/' %}/css/styles.css">
    <link rel="stylesheet" href="{% static 'base/' %}/css/searchbar.css">
    <link rel="stylesheet" href="{% static 'base/' %}/css/products.css">
    <link rel="stylesheet" href="{% static 'base/' %}/webfontkit-gilroy/stylesheet.css">
    <link rel="stylesheet" href="{% static 'base/' %}/css/glider.css" type="text/css">
    <link rel="stylesheet" href="{% static 'base/' %}/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{% static 'base/' %}/css/contact us style.css">
    <!----locations Section Starts-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <!----locations Section ends-->
    <link rel="stylesheet" href="{% static 'base/' %}/css/owl.theme.default.min.css">
    <script src="{% static 'base/' %}/js/javascript.js" defer></script>
    <script>
        src="https://kit.fontawesome.com/64d58efce2.js"
        crossorigin="anonymous"
    </script>
    <script src="{% static 'base/' %}js/contact us script.js"></script>

</head>

<body>


<!-----Header Nav Bar Starts-->
<nav class="navbar">
    <div class="brand-title">Suri-wood</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <nav>
            <a href="{% url 'index' %}">HOME</a> <!---index from name='index' in urls.py-->
            <a href="{% url 'about' %}">about</a>
            <a href="{% url 'reviews' %}">reviews</a>
            <a href="{% url 'contact' %}">contact</a>
            <a href="{% url 'products' %}">shopping</a>
        </nav>
    </div>
    <div><i class="fa fa-shopping-cart" aria-hidden="true"></i> </div>
</nav>
<!-----Header Nav Bar Ends Here-->
{% block content %}

{% endblock content %}

<!-----Footer Section stars here-->
 <footer>
    <section>
        <div class="footer-bar" id="footer-bar">
            <div class="col1" id="logo-text">
                <h1>Suri-wood</h1>
                <p>The advantage of hiring a workspace with <br> us is that givees you comfortable service <br> and
                    all-around
                    facilities.
                </p>
            </div>
            <div class="col2" id="services">
                <h3 class="footer-orange">Services</h3>
                <p class="footer-text-list">Email Marketing</p>
                <p class="footer-text-list">Campaigns</p>
                <p class="footer-text-list">Branding</p>

            </div>
            <div class="col2" id="furnitures">
                <h3 class="footer-orange">Furniture</h3>
                <p class="footer-text-list">Beds</p>
                <p class="footer-text-list">Chairs</p>
                <p class="footer-text-list">All products</p>
            </div>
            <div class="col2" id="follow-us">
                <h3 class="footer-orange">Follow Us</h3>
                <p class="footer-text-list">
                    <span><i class="fab fa-facebook-f">&nbsp;&nbsp;</i></span>
                    <span>Facebook</span>
                </p>
                <p class="footer-text-list">
                    <span><i class="fab fa-twitter"></i>&nbsp;</span>
                    <span>Twitter</span>
                </p>
                <p class="footer-text-list">
                    <span><i class="fab fa-instagram"></i>&nbsp;&nbsp;</span>
                    <span>Instagram</span>
                </p>
            </div>
        </div>
        <div class="copyright" id="copyright">
            <div class="copy-text">
                Mohammad & Khalil | &copy; Copyright 2022
            </div>
            <div class="terms-text">
                Terms & Conditions &emsp; &emsp; &emsp; Policy Privacy
            </div>
        </div>
    </section>
</footer>
<!-----Footer Section Ends Here-->



 <!---js-script for locations Slider codes starts------->
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script> 
 <script type="text/javascript" src="{% static 'base/' %}js/locations.js"></script>
 <!---js-script for locations Slider codes ends------->


 <!---js-script for Product Slider codes starts------->
 <script src="{% static 'base/' %}/js/glider.js"></script>

 <script>
     new Glider(document.querySelector('.glider'), {
         slidesToScroll: 1,
         slidesToShow: 4,
         responsive: [
         {
                 // If Screen Size More than 768px
                 breakpoint: 0,
                 settings: {
                     slidesToShow: 1,
                     slidesToScroll: 1,
                     duration: 0.5,
                     arrows: {
                         prev: ".glider-prev",
                         next: ".glider-next"
                     }
                 }
             },    
         {
                 // If Screen Size More than 768px
                 breakpoint: 768,
                 settings: {
                     slidesToShow: 2,
                     slidesToScroll: 1,
                     duration: 0.5,
                     arrows: {
                         prev: ".glider-prev",
                         next: ".glider-next"
                     }
                 }
             },
             {
                 // If Screen Size More than 1024px
                 breakpoint: 1024,
                 settings: {
                     slidesToShow: 4,
                     slidesToScroll: 1,
                     duration: 0.5,
                     arrows: {
                         prev: ".glider-prev",
                         next: ".glider-next"
                     }
                 }
             }
         ],
         draggable: true,
         dots: '.dots',
         arrows: {
             prev: '.glider-prev',
             next: '.glider-next'
         }
     });
 </script>
 <!-----js-script for Product Slider code ends------>

 <!---Testimonial JavaScript Code starts-->
    <script src="{% static 'base/' %}/js/jquery.js"></script>
    <script src="{% static 'base/' %}/js/owl.carousel.min.js"></script>
    <script src="{% static 'base/' %}/js/owl-script.js"></script>
 <!----Testimonial JavaScript Code Ends-->


</body>

</html>     