{% extends 'ecommerce_app/base/base.html' %}
{% load static %}
{% block content %}
{% include 'ecommerce_app/partial/homesection.html' with title='About Us' %}

    <!---BODY CONTENT STARTS HERE-->
    <section class="content" id="content" name="content">

        <!----Testimonials Section Starts-->
        <div class="testimonial" id="testimonial">
            <div class="testimonial-orange-title" id="testimonial-orange">
                About us
            </div>
            <div class="testimonial-black-title" id="testi-title">
                Who are we?
            </div>
            <h2 class="about">We are a leading company in the field of selling high-quality and comfortable furniture made of the best types of imported wood. Our company was founded in Damascus in 1990 and expanded to include other regions. We provide great services and unmatched quality at the best prices. We care about customer satisfaction and we have many customers around the world We always strive to provide the best.</h2>
            
            
        </div>
        <!----Testimonials Section Ends-->
    </section>
    <!-----BODY CONTENT ENDS HERE-->

    {% endblock content %}
    



