{% extends 'ecommerce_app/base/base.html' %}
{% load static %}
{% block content %}
{% include 'ecommerce_app/partial/homesection.html' with title='Make your interior design more simple & modern' %}

    <!---BODY CONTENT STARTS HERE-->
    <section class="content" id="content" name="content">
        <!----Why Choose Us Section Starts-->
        <div class="why-us" id="why-us">
            <div class="row">
                <div class="column1">
                    <span class="why-title">
                        Why </span>
                    <span class="why-title">
                        choosing us? </span>
                </div>
                <div class="column">
                    <div class="column-title">
                        Luxury facilities </div>
                    <p class="column-sub">The advantage of hiring a workspace with us is that gives you comfortable
                        service and all-around
                        facilities.</p>
                    <p class="more-info">More info ---></p>
                </div>
                <div class="column">
                    <div class="column-title">Affordable Price </div>
                    <p class="column-sub">You can get a workspace of the highst quality at an affordable price and still
                        enjoy the
                        facilities that are oly here.</p>
                    <p class="more-info">More info ---></p>
                </div>
                <div class="column">
                    <div class="column-title">Many Choices</div>
                    <p class="column-sub">We provide many unique work space choices so that you can choose the workspace
                        to your liking.
                    </p>
                    <p class="more-info">More info ---></p>
                </div>

            </div>


        </div>
        <!----Why Choose Us Section Ends-->

        <!--Product Slider Section Starts-->
        <div class="product-slider" id="product-slider">
            <div class="product-slider-title" id="product-slider-title">
                What we sell?
            </div>
            <div class="tabs" id="tabs">

            </div>
            <div class="glider-contain">
                <div class="glider">
                    <div class="product-card" id="product-card">
                        <div class="product-img" id="product-img">
                            <img src="{% static 'base/' %}/images/chair.png" alt="armchair">
                        </div>

                        <div class="product-card-bottom" id="product-card-bottom">
                            <div class="category-title" id="category-title">
                                Chairs
                            </div>
                            <div class="product-title" id="product-title">
                                high quality Chairs
                            </div>
                        </div>
                    </div>

                    
                    <div class="product-card" id="product-card">
                        <div class="product-img" id="product-img">
                            <img src="{% static 'base/' %}/images/table.png" alt="table">
                        </div>

                        <div class="product-card-bottom" id="product-card-bottom">
                            <div class="category-title" id="category-title">
                                tables
                            </div>
                            <div class="product-title" id="product-title">
                                high quality tables from wood
                            </div>
                        </div>
                    </div>


                    <div class="product-card" id="product-card">
                        <div class="product-img" id="product-img">
                            <img src="{% static 'base/' %}/images/sofa.png" alt="sofa">
                        </div>

                        <div class="product-card-bottom" id="product-card-bottom">
                            <div class="category-title" id="category-title">
                                sofas
                            </div>
                            <div class="product-title" id="product-title">
                                comfortable sofas
                            </div>
                        </div>
                    </div>


                    <div class="product-card" id="product-card">
                        <div class="product-img" id="product-img">
                            <img src="{% static 'base/' %}/images/bed.png" alt="bedr">
                        </div>

                        <div class="product-card-bottom" id="product-card-bottom">
                            <div class="category-title" id="category-title">
                                beds
                            </div>
                            <div class="product-title" id="product-title">
                                comfortable bed for a deep sleep
                            </div>
                        </div>
                    </div>


                    <div class="product-card" id="product-card">
                        <div class="product-img" id="product-img">
                            <img src="{% static 'base/' %}/images/tvstand.png" alt="tv stand">
                        </div>

                        <div class="product-card-bottom" id="product-card-bottom">
                            <div class="category-title" id="category-title">
                                TV stands
                            </div>
                            <div class="product-title" id="product-title">
                                high quality TV stands
                            </div>
                        </div>
                    </div>


                    <div class="product-card" id="product-card">
                        <div class="product-img" id="product-img">
                            <img src="{% static 'base/' %}/images/closet.png" alt="closet">
                        </div>

                        <div class="product-card-bottom" id="product-card-bottom">
                            <div class="category-title" id="category-title">
                                Closets
                            </div>
                            <div class="product-title" id="product-title">
                                high quality and big closets for all of your clothes
                            </div>
                        </div>
                    </div>


                    <div class="product-card" id="product-card">
                        <div class="product-img" id="product-img">
                            <img src="{% static 'base/' %}/images/bookcase.png" alt="book case">
                        </div>

                        <div class="product-card-bottom" id="product-card-bottom">
                            <div class="category-title" id="category-title">
                                bookcases
                            </div>
                            <div class="product-title" id="product-title">
                                very big and modern bookcases
                            </div>
                        </div>
                    </div>

                </div>

                <button aria-label="Previous" class="glider-prev">
                    <div class="circle-chevron" id="circle-chevron">
                        <i class="fa fa-chevron-left"></i>
                    </div>
                </button>
                <button aria-label="Next" class="glider-next">
                    <div class="circle-chevron" id="circle-chevron">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </button>
                <div role="tablist" class="dots"></div>
            </div>
            <div class="view-all"><span class="view"><a style="text-decoration:none ; color:#E58411;"  href="{% url 'products' %}">View all</a> &nbsp;</span> <span><img src="{% static 'base/' %}/images/long-arrow.svg"
                        alt="long arrow"></span></div>
        </div>

        <!---Product Slider Section Ends-->

        <!----Experience Section Starts--->
        <div class="experience" id="experience">
            <div class="exp-img" id="exp-img">

                <div class="exp-img-left" id="exp-img-left">
                    <img src="{% static 'base/' %}/images/exp-img.jpg" alt="exp img">
                    <div class="back-grey1" id="back-grey1">

                    </div>
                    <div class="back-grey2" id="backgrey2">

                    </div>
                    <div class="back-grey3" id="backgrey3">

                    </div>
                </div>
            </div>
            <div class="exp-text" id="exp-text">
                <p class="experiences">Experiences</p>
                <p class="why-title">We provide you <br>the best experience</p>
                <p class="column-sub2">You don’t have to worry about the result because all of these interiors are made
                    by people who are professionals in their fields with an elegant and lucurious style and with premium
                    quality materials</p>
                <p class="more-info">More info ---></p>
            </div>
        </div>
        <!----Experience Section Ends-->

        <!---Materials Section Starts--->
        <div class="materials" id="materials">
            <div class="mat-text" id="mat-text">
                <p class="experiences">Materials</p>
                <p class="why-title">Very serious <br>materials for making <br> furniture</p>
                <p class="column-sub2">Because Suri wood was very serious about designing furniture for our environment,
                    using a very expensive and famous capital but at a relatively low price</p>
                <p class="more-info">More info ---></p>
            </div>
            <div class="mat-img" id="mat-img">
                <div class="mat-img-right" id="mat-img-right">
                    <div class="mat-img-right-parent" id="mat-img-right-parent">
                        <img src="{% static 'base/' %}/images/mat-img.jpg" alt="mat img">
                        <div class="mat-img-right-blur" id="mat-img-right-blur">
                            <img src="{% static 'base/' %}/images/mat-img.jpg" alt="mat blur img">
                        </div>
                        <div class="back-grey4" id="back-grey4">

                        </div>
                    </div>
                </div>
                <div class="mat-img-left" id="mat-img-left">
                    <div class="up-img" id="up-img">
                        <img src="{% static 'base/' %}/images/up-img.png" alt="up img">
                        <div class="up-img-blur" id="up-img-blur">
                            <img src="{% static 'base/' %}/images/up-img.png" alt="up img">
                        </div>
                    </div>
                    <div class="down-img" id="down-img">
                        <img src="{% static 'base/' %}/images/down-img.png" alt="down img">
                        <div class="down-img-blur" id="down-img-blur">
                            <img src="{% static 'base/' %}/images/down-img.png" alt="down img">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!---Materials Section Ends-->

        <!----locations Section Starts-->
        <div class="testimonial" id="testimonial">
            <div class="testimonial-orange-title" id="testimonial-orange">
                stores
            </div>
            <div class="testimonial-black-title" id="testi-title">
                Where do you find us?
            </div>
            
            <section class="slider">
                <div>
                  <img src="{% static 'base/' %}images/marjeh.jpg">
                  <div class="desc">
                    <h2 class="h2slid"><span>Al marjeh</span></h2>
                  </div>
                </div>
              
                <div>
                  <img src="{% static 'base/' %}images/jaramana.jpg">
                  <div class="desc">
                    <h2 class="h2slid"><span>Jaramana</span></h2>
             
                  </div>
                </div>
              
                <div>
                  <img src="{% static 'base/' %}images/almalki.jpg">
                  <div class="desc">
                    <h2 class="h2slid"><span>Al malki</span> </h2>
            
                  </div>
                </div>
              
                <div>
                  <img src="{% static 'base/' %}images/ALabbasein.jpg">
                  <div class="desc">
                    <h2 class="h2slid"><span>AL abbasein</span></h2>
            
                  </div>
                </div>
                </div>
              </section> 
            
        </div>
        
        <!----locations Section Ends-->
    </section>
    <!-----BODY CONTENT ENDS HERE-->

    {% endblock content %}
   