
{% extends 'ecommerce_app/base/base.html' %}
{% load static %}
{% block content %}
{% include 'ecommerce_app/partial/homesection.html' with title='Shop Now!' %}

    <!---BODY CONTENT STARTS HERE-->
    <section class="content" id="content" name="content">

        <!--Product Slider Section Starts-->
        <div class="product-slider" id="product-slider">
            <div class="product-slider-title" id="product-slider-title">
                What are you looking for?
            </div>
            <div class="tabs" id="tabs">
          <!--after creating products function in views.py  we add this form with input type=search and name="q" and we create button type=submit and thats all what we care about to create search bar-->

         <div class="cont">
	
          <div class="search_box">
            
              <form class="frm">
              
                  <button class="bo" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                
                  <input  name="q" type="search" placeholder="Search...">
              
                  <button class="bo" type="submit"><i class="fa fa-microphone" aria-hidden="true"></i></button>
            
              </form>
      
           </div>	
                    
         </div>

          <!--searcbar ends-->      
            </div>
            <div class="glider-contain">
                <div class="glider">
                   
                  {% for product in product %}
                    <div class="product-card" id="product-card">
                        <div class="product-img" id="product-img">
                          {% if product.image %}
                            <img src="{{ product.image.url }}" alt="">
                          {% endif %}
                        </div>

                        <div class="product-card-bottom" id="product-card-bottom">
                            <div class="category-title" id="category-title">
                              {{ product.name }}
                            </div>
                            <div class="category-title" id="category-title">
                              {{ product.description}} 
                            </div>
                            <div class="product-title" id="product-title">
                              <span>$</span> {{ product.price }} 
                            </div>
                            <div class="product-title" id="product-title">
                              <p><button class="cato"><a href="{% url 'product_detail' product.pk product.slug %}">Place an order</a></button></p>
                            </div>
                         </div>
                     </div>
                    {% endfor %}

                </div>

                <button aria-label="Previous" class="glider-prev">
                    <div class="circle-chevron" id="circle-chevron">
                        <i class="fa fa-chevron-left"></i>
                    </div>
                </button>
                <button aria-label="Next" class="glider-next">
                    <div class="circle-chevron" id="circle-chevron">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </button>
                <div role="tablist" class="dots"></div>
            </div>
                        
        </div>

        <!---Product Slider Section Ends-->

    </section>
    <!-----BODY CONTENT ENDS HERE-->

    {% endblock content %}
   